.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    min-height: 120vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120vh;
}
main img{
    border-radius: 10px;
}


.movies{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
  
}

.movie {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 10px;
}

.movie h3, .movie p {
    margin: 0
}

.radios{
    display: flex;
    
}

@media (max-width: 600px) {
    form{
      flex-direction: column;
    }

    form > button {
       width: 100%;
    }

  }